/* BODY */
* {
  box-sizing: border-box
}

:root {
  --max: 18rem
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: rgb(203, 200, 200) !important;
  }


h1 {
    text-align: center;
}


p {
    font-weight: bolder;
}

main {
  justify-content: space-evenly;
}

/* LIST OF BOOKS  */
.card {
  width: 18rem !important;
  margin: 1em !important;
  width: var(--max)
}

.card-body, .card-title {
  margin-top: 0.7em;
}
  
.card-img-top {
  width: 100%;
  max-width: var(--max);
  height: calc(var(--max));
  object-fit: cover;
} 

.list-group-item {
  margin-bottom: 1em;
  background-color: rgb(241, 239, 239) !important;
  font-size: 14px;
}

.img-f {
  background-color: red !important;
  max-width: 180px !important;
  width: 500px !important;
}

/* NAVBAR */
.navbar-container {
  align-items: baseline
}

a {
  text-transform: uppercase;
  font-weight: 600;
  color: brown !important;
}

.search {
  width: 250px !important;
}

.fa-magnifying-glass {
  margin-top: 0.7em;
  color: rgb(111, 111, 111);
}

.btn-buy {
  background-color: brown !important;
}

.fa-cart-shopping {
  color: white;
}

.form-control {
  margin-bottom: 0.5em;
}

.form {
  display: flex;
  justify-content: center;
}

/* CART */
.cart {
  margin-top: 2em;
}

.add-cart {
  margin-top: 1em;
  background-color: brown !important;
  border: 1px solid brown !important;
}

.btn-danger {
  margin-left: 1em !important;
}

.sidecart {
  width: 420px;
  min-width: 320px;
  height: 100vh;
  position: fixed;
  top: 0px;
  overflow:auto !important;
  right: -420px;
  z-index: 9000;
  transition: 0.2s ease;
  background-color: rgb(214, 207, 207);
}

@media(max-width: 400px){
  .sidecart{
    width: 100vw;
    right: -100vw;
  }
}

.open-cart{
  right: 0px !important;
}
.open-cart:before {
  content: '';
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
  background-color: transparent;
  opacity: 0.5;
  z-index: -1;
}
